body{
    background: rgb(83,1,75);
background: linear-gradient(211deg, rgba(83,1,75,1) 17%, rgba(45,0,41,1) 25%, rgba(33,2,83,1) 85%, rgba(3,115,116,1) 100%);
    height: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    margin: 0;
    padding: 0;
    color: seashell;/*cor da fonte*/
}

.caixalogin{
    background-color:rgba(0,0,0, 0.5);
    width: 280px;/*largura*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;/*espaçamento de dentro pra fora*/
    border-radius: 50px;
    box-shadow: 0 10px 10px;/*sombra*/
    position: relative;
}

.caixalogin h2{
    color: snow;
    text-align: center; /*alinhamdo h2 pro centro*/
    margin: 20px 0px 30px; /* 20 criando espaço do h2 pra cima,(meio/prolado) 30 criando espaço do h2 para baixo*/
    font-family: arial;
}

.caixalogin .campo input{ /*acessando os inputs atraves do classe pai caixa login e classe campo*/
    width: 100%; /*(largura) deixando os inputs ocupando o maximo*/
    padding: 10px;
    font-size: 18px;/*para alterar o tamanho da fonte dentro do input*/
    background: transparent;
    color:#fff;/*cor da fonte dentro do input*/
    letter-spacing: 2px;/*para dar espaçamento entre as palavras*/
    border: none; /*para tirar as bordas*/
    outline: none;/*para tirar a cor das bordas ao clicar*/
    border-bottom: 1px solid purple;
    margin-bottom: 30px;/*espaçamento externo para baixo*/
}

.caixalogin .campo{
    position: relative;
}

.caixalogin .campo label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    font-family: arial;
    pointer-events: none;
    transition: .5s;
}

.caixalogin .campo input:focus~label,
.caixalogin .campo input:valid~label { /*quando estiver com dados inseridos o label nao ira retornar*/
    top: -20px;/*voltou 20px*/
    left: 0;/*diminuiu para a esquerda*/
    color: violet;/*cor quando for clicado*/
    font-size: 12px;/*tamanho pra qual vai mudar o label quando for clicado*/
}

#checkbox2{
    color: #fff;
    font-family: arial;
    font-size: 12px;
}

.caixalogin button{
    width: 100%;
    height: 40px;/*espaçamento interno em relação ao entrar*/
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #3c269c, #eb7a80);/*para direita*/
    padding: 10px 20px; /*espaçamento pra baixo, pra direita */
    font-size: 16px;/*tamanho do entrar*/
    cursor: pointer;/*muda o mouse para uma mao*/
    border-radius: 4px;

}

#cadastro{
    font-weight: bold;
    color: #fff;
    font-family: arial;
    text-align: center;
    cursor: pointer;
    
}

#cadastro:hover{
    color: violet;

}
#esqueceu{
    font-weight: bold;
    color: #fff;
    font-family: arial;
    text-align: center;
    cursor: pointer;
}

#esqueceu:hover{
    color: violet;
}
